# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
#
#   *.rb linguist-language=Java
#
# See: https://github.com/github-linguist/linguist/blob/master/docs/overrides.md

# Mark Jekyll-based markups as Ruby
_includes/* linguist-language=Ruby
_layouts/*  linguist-language=Ruby

# Exclude vendored files from statistics.
assets/css/highcharts.css         linguist-vendored
assets/css/highcharts.scss        linguist-vendored
assets/js/simple-jekyll-search.js linguist-vendored
