<!-- 募集〆切後に御礼のアナウンスを表示する -->
<!--<div class="tips">たくさんのご応募ありがとうございました！</div>-->
<div class="tips">2025年度は2月〜3月頃に募集開始の予定です。</div>

<ul class="list-agenda">
  <li><strong>　対象:</strong> 2025年4月1日時点で17歳以下の個人および、これらの年齢で構成されたグループ (最大4人)  </li>
  <li><strong>　期間:</strong> 2025年6月から11月までの約6ヶ月間</li>
  <!--<li><strong>〆切日:</strong> 2025年4月6日 23:59 応募〆切</li>-->
  <li><strong>公開日:</strong> 2025年2月〜3月頃に応募フォームが公開される予定です (<a href='/guideline'>&raquo;  準備を始める</a>)</li>
  <li><strong>参加費:</strong> 無料 (海外居住の場合を除き、イベント参加の為の交通費・宿泊費も支給されます)</li>
  <ul>
    <li>海外居住の場合は、日本までの渡航費は支給されません。</li>
    <li>海外在住者も含むすべての採択者について、<a href='/schedule'>ブースト合宿か中間合宿</a>のどちらかには現地で参加をいただく必要があります。もし、入院など何らかの合理的な理由で参加が難しい場合は、採択時に申告をお願いします。</li>
  </ul>
</ul>

<a href='/schedule' class='button'>スケジュールを見る</a>