<ul class="list-agenda">
  <li><strong>　対象:</strong> 2024年4月1日時点で17歳以下の個人及び、これらの年齢で構成されたグループ (最大4人)  </li>
  <li><strong>　期間:</strong> 2024年6月から11月までの約6ヶ月間</li>
  <!--<li><strong>〆切日:</strong> 2023年4月8日 23:59 応募〆切</li>-->
  <li><strong>公開日:</strong> 2024年3月10日 (<a href='https://www.gov-online.go.jp/data_room/calendar/202303/event-009.html'>未踏の日</a>) に応募フォームを公開する予定です</li>
  <li><strong>参加費:</strong> 無料 (イベントが現地で開催される場合、イベント参加の為の交通費・宿泊費も支給されます)</li>
</ul>

<h3 id='schedule'>例年のスケジュール</h3>
<p>
  毎年3月ごろに募集を開始し、採択後は次のスケジュールで進みます。</p>
<img src="/assets/img/spinner.svg" data-src="/assets/img/schedule.png" width='100%'
     alt="未踏ジュニアのスケジュール" class="lazyload">

