{% assign lang = page.lang | default: "ja" %}
{% assign collaborators = site.data.sponsors | where: "type", "collaborator" %}

<section id="collaborators">
  <h2>
    <a href='#collaborators'><i class="fa-light fa-handshake"></i></a>
    {{ site.data.translations.collaboratorHeading[lang] }}
  </h2>
  <div class="sponsors-list-clb">
    {% for collaborator in collaborators %}
    <a href="{{ collaborator.link }}" class="sponsor-clb sponsor-one" target="_blank" rel='noopener'>
      <img src="/assets/img/spinner.svg" data-src="/assets/img/sponsors/{{ collaborator.img }}"
           alt="{{ collaborator.name }}" class="sponsor-img lazyload">
    </a>
    {% endfor %}
  </div>
</section>
