{% assign creator = site.data.creators | where: "id", creator_id | first %}

{% if page.lang == 'en' %}
  {% if forloop.index > 1 %}<span>/</span>{% endif %}

  {{ creator.id | split: '_' | first | capitalize }}
  {{ creator.id | split: '_' | last  | capitalize }}
{% elsif include.is_simple %}
  {% if forloop.index > 1 %}
  <span>/</span>
  {% endif %}

  {{ creator.name }}
{% else %}
  {% if creator.is_spc %}
    {% if forloop.index > 1 %} / {% endif %}
    <span>☆ </span>
  {% elsif forloop.index == 1 %}
    <span>　</span>
  {% elsif forloop.index > 1 %}
    <span>/</span>
  {% endif %}

  {{ creator.name }}
{% endif %}

