{% assign project_ids = include.project_ids | split: "," | compact %}

<ul>
{% for project_id in project_ids %}
  {% assign project_id_trimmed = project_id | strip %}
  {% assign project = site.data.projects | find: "id", project_id_trimmed %}
  {% unless project %}{% continue %}{% endunless %}
  
  <li class='final-timetable'>
    <a href='/projects/{{ project.year }}/{{ project.id }}'>{{ project.title }}</a>
  </li>
{% endfor %}
</ul>

<style>
  li.final-timetable{
    margin-left: auto;
    @media screen and (max-width: 760px) {
      margin-left: 24px;
    }
  }
</style>
