<!--/_includes/footer.html-->
<footer>
  <a href="/">ホーム</a>
  <a href="/about">未踏ジュニアとは</a>
  <a href="/media">メディア掲載</a>
  <a href="/guideline">応募方法</a>
  <a href="/projects">採択例</a>
  <a href="/mentors">メンター紹介</a>
  <a href="/#faq">よくある質問</a>
  <a href="/#contact">お問い合わせ</a>
  <a href="/privacy-policy">プライバシーポリシー</a>

  <div class="sns">
    <a href="https://twitter.com/mitoujr"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/mitoujr/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/channel/UCYHl353XT5aTdKMLJ-xxZoQ"><i class="fab fa-youtube"></i></a>
  </div>
  <span class="copyright">Copyright &copy; 未踏社団 未踏ジュニア実行委員会</span>
</footer>
