<!--/_includes/footer.html-->
<footer>
  {% if lang == "en" %}
  <a hreflang="en" href="/english/">Top</a>
  <a hreflang="en" href="/english/#media">Media & Awards</a>
  <a hreflang="en" href="/english/#showcase">Projects Showcase</a>
  <a hreflang="en" href="/english/#agenda">Program Agenda</a>
  <a hreflang="en" href="/english/stats">Stats</a>
  <a hreflang="en" href="/english/#contact">Contact</a>
  <a hreflang="ja" href="/">Switch to Japanese</a>
  {% else %}
  <a hreflang="ja" href="/">ホーム</a>
  <a hreflang="ja" href="/about">未踏ジュニアとは</a>
  <a hreflang="ja" href="/media">メディア掲載</a>
  <a hreflang="ja" href="/guideline">応募の手引き</a>
  <a hreflang="ja" href="/applications">提案書ダウンロード</a>
  <a hreflang="ja" href="/projects">採択プロジェクト</a>
  <a hreflang="ja" href="/search">プロジェクト検索</a>
  <a hreflang="ja" href="/mentors">メンター紹介</a>
  <a hreflang="ja" href="/#faq">よくある質問</a>
  <a hreflang="ja" href="/q-box">匿名質問箱</a>
  <a hreflang="ja" href="/#contact">問い合わせ</a>
  <a hreflang="ja" href="/stats">統計情報</a>
  <a hreflang="ja" href="/opportunities">他の支援プログラム</a>
  <a hreflang="ja" href="/#sponsors">スポンサー</a>
  <a hreflang="ja" href="/flyers">チラシ</a>
  <a hreflang="ja" href="/privacy">プライバシーポリシー</a>
  <a hreflang="en" href="/english">English</a>
  {% endif %}

  <div class="sns">
    <a href="https://twitter.com/mitoujr"          ><i class="fab fa-twitter" ></i></a>
    <a href="https://facebook.com/mitoujr"         ><i class="fab fa-facebook"></i></a>
    <a href="https://github.com/mitou/jr.mitou.org"><i class="fab fa-github"  ></i></a>
    <a href="https://anchor.fm/mitoujr"            ><i class="fab fa-spotify"></i></a>
    <a href="https://youtube.com/mitoujr"          ><i class="fab fa-youtube" ></i></a>
  </div>
  <span class="copyright">Copyright &copy; {{ site.data.translations.author[lang] }}</span>
</footer>

<script src="/assets/js/lazysizes.min.js" async=""></script>
