<!--/_includes/footer.html-->
<footer>
  {% if lang == "en" %}
  <a href="/english">Top</a>
  <a href="/english/stats">Stats</a>
  <a href="/">Switch to Japanese</a>
  {% else %}
  <a href="/">ホーム</a>
  <a href="/about">未踏ジュニアとは</a>
  <a href="/media">メディア掲載</a>
  <a href="/guideline">応募方法</a>
  <a href="/download">応募サンプル</a>
  <a href="/projects">採択プロジェクト</a>
  <a href="/mentors">メンター紹介</a>
  <a href="/#faq">よくある質問</a>
  <a href="/q-box">匿名質問箱</a>
  <a href="/#contact">お問い合わせ</a>
  <a href="/stats">統計情報</a>
  <a href="/#sponsors">スポンサー</a>
  <a href="/flyer">チラシ</a>
  <a href="/privacy-policy">プライバシーポリシー</a>
  <a href="/english">English</a>
  {% endif %}

  <div class="sns">
    <a href="https://twitter.com/mitoujr"          ><i class="fab fa-twitter" ></i></a>
    <a href="https://facebook.com/mitoujr"         ><i class="fab fa-facebook"></i></a>
    <a href="https://github.com/mitou/jr.mitou.org"><i class="fab fa-github"  ></i></a>
    <a href="https://youtube.com/mitoujr"          ><i class="fab fa-youtube" ></i></a>
  </div>
  <span class="copyright">Copyright &copy; {{ site.data.translations.author[lang] }}</span>
</footer>

<script src="/assets/js/lazysizes.min.js" async=""></script>
