<header>
  <a href="/" class="header-logo pc"><img src="/assets/img/mitoujr-logo-square.png" alt="未踏ジュニア" class="lazyload"
      loading="lazy"></a>
  <a href="/" class="header-logo ph"><img src="/assets/img/mitoujr-logo-rect.png" alt="未踏ジュニア" class="lazyload"
      loading="lazy"></a>

  <label for="nav-check" class="ph nav-hamburger"><img src="/assets/img/bars.svg" alt="メニュー" style="width:24px;"
      class="lazyload" loading="lazy"></label>
  <input type="checkbox" id="nav-check" style="display:none;">
  <nav class="topnav pc">
    <div class="header-left">
      {% if lang == "en" %}
      <a href="#top">Mitou Junior</a>
      {% else %}
      <a href="/about">未踏ジュニアとは</a>
      <a href="/guideline">応募方法</a>
      <a href="/projects">採択例</a>
      <a href="/schedule">採択後の流れ</a>
      <a href="/#faq">よくある質問</a>
      <a href="/#contact">お問い合わせ</a>
      {% endif %}
    </div>
    {% if lang == "en" %}
    <a href="/" class="header-button">Japanese</a>
    {% else %}
    <a href="/final" class="header-button">最終成果報告会</a>
    {% endif %}
  </nav>
  <label for="nav-check" class="header-back"></label>
</header>