<header>
  {% if lang == "en" %}
  <a href="/english/" hreflang="en" class="header-logo pc"><img src="/assets/img/mitoujr-logo-square.png" alt="Logo of MITOU Junior" class="lazyload" loading="lazy"></a>
  <a href="/english/" hreflang="en" class="header-logo ph"><img src="/assets/img/mitoujr-logo-rect.png" alt="Logo of MITOU Junior" class="lazyload" loading="lazy"></a>
  {% else %}
  <a href="/" hreflang="ja" class="header-logo pc"><img src="/assets/img/mitoujr-logo-square.png" alt="未踏ジュニア" class="lazyload" loading="lazy"></a>
  <a href="/" hreflang="ja" class="header-logo ph"><img src="/assets/img/mitoujr-logo-rect.png" alt="未踏ジュニア" class="lazyload" loading="lazy"></a>
  {% endif %}

  <label for="nav-check" class="ph nav-hamburger"><img src="/assets/img/bars.svg" alt="メニュー" style="width:24px;" class="lazyload" loading="lazy"></label>
  <input type="checkbox" id="nav-check" style="display:none;" />

  <nav class="topnav pc">
    <div class="header-left">
      {% if lang == "en" %}
        <a hreflang="en" href="/english/#top">TOP</a>
	<a hreflang="en" href="/english/#news">Media & Awards</a>
        <a hreflang="en" href="/english/projects">Project Showcase</a>
        <a hreflang="en" href="/english/#agenda">Program Agenda</a>
	<a hreflang="en" href="/english/stats">Stats</a>
	<a hreflang="en" href="/english/#contact">Contact</a>
      {% else %}
	<a hreflang="ja" href="/about">未踏ジュニアとは</a>
	<a hreflang="ja" href="/guideline">応募の手引き</a>
	<a hreflang="ja" href="/projects">採択一覧</a>
	<a hreflang="ja" href="/schedule">採択後の流れ</a>
	<a hreflang="ja" href="/#faq">FAQ</a>
	<a hreflang="ja" href="/stats">統計</a>
	<a hreflang="ja" href="/#contact">問い合わせ</a>
      {% endif %}
    </div>
    
    {% if lang == "en" %}
    <a hreflang="ja" href="{{ page.url | remove_first: '/english' | remove: '.html' }}" class="header-button">
      <span style='color: white; font-size: 80%;'>Switch to Japanese</span>
    </a>
    {% else %}
    <!-- 募集期間中であれば「募集要項を見る」に切り替える -->
    <!-- <a hreflang="ja" href="/final" class="header-button" style='font-size: 90%;'>成果報告会を見る</a> -->
    <a hreflang="ja" href="/guideline" class="header-button">募集要項を見る</a>
    {% endif %}
  </nav>

  <label for="nav-check" class="header-back"></label>
</header>
