<section class="lets-apply">
  <h2>未踏ジュニアに<br class="ph">応募してみませんか？</h2>
  <ul class="list-none">
    <li><b>対象:</b> 2020年4月1日時点で17歳以下の個人及び、これらの年齢で構成されたグループ (最大4人)</li>
    <li><b>期間:</b> 2020年6月から10月までの約5ヶ月間(予定)</li>
    <li><b>参加費:</b> 無料(ブースト合宿、中間合宿をはじめとしたイベント参加の為の交通費・宿泊費も支給されます)　※合宿については、コロナウィルスの影響でオンラインでの開催になる可能性があります。</li>
  </ul>

  <h3>2020年度のスケジュール</h3>
  <img data-src="/assets/img/schedule.svg" alt="2020年度のスケジュール" class="lazyload">
  <a href="/guideline" class="button">応募の手引き</a>
</section>
