<section class="lets-apply">
  <h2>未踏ジュニアに<br class="ph">応募してみませんか？</h2>

  <ul class="list-none">
    <li><b>対象:</b> 2021年4月1日時点で17歳以下の個人及び、これらの年齢で構成されたグループ (最大4人)</li>
    <li><b>期間:</b> 2021年6月から10月までの約5ヶ月間(予定)</li>
    <li><b>参加費:</b> 無料 (イベントがオフラインで行われる場合、イベント参加の為の交通費・宿泊費も支給されます)</li>
  </ul>

  <div class="note">
    今年度の応募受付を締め切りました!<br class="ph">
    たくさんのご応募ありがとうございます 🙏
  </div>

  <h3>2021年度のスケジュール (予定)</h3>
  <img src="/assets/img/spinner.svg" data-src="/assets/img/schedule2021.svg" width='100%'
       alt="2021年度のスケジュール" class="lazyload">

  <a href="/guideline" class="button">応募の手引き</a>
</section>
