
<ul class="list-none news-list">
  {% if include.limit %}
    {% for medium in site.data.news | limit: include.limit %}
      <li>
	<span class="news-pc-date pc-inline-b">{{ medium.date }}</span>
	<a href="{{ medium.link }}">
	  {{ medium.title }}
	  <span class="ph-inline-b">- {{ medium.date }}</span>
	</a>
      </li>
   {% endfor %}
  {% else %}
    {% for medium in site.data.news %}
      <li>
	<span class="news-pc-date pc-inline-b">{{ medium.date }}</span>
	<a href="{{ medium.link }}">
	  {{ medium.title }}
	  <span class="ph-inline-b">- {{ medium.date }}</span>
	</a>
      </li>
   {% endfor %}
  {% endif %}
</ul>
