{% assign projects = site.data.projects | where_exp: "pj", "pj.year == include.year" %}
<ul class="project-list {% if include.internal_link %}responsive-list{% endif %}">
  {% for pj in projects %}
  <li>
    {% for creator_id in pj.creator_ids %}
      {% assign creator = site.data.creators | where: "id", creator_id | first %}
      {% if creator.sp_creator %}
        {% if forloop.index > 1 %} / {% endif %}
        <span>☆ </span>
      {% elsif forloop.index == 1 %}
        <span>　</span>
      {% elsif forloop.index > 1 %}
        <span>/</span>
      {% endif %}

      {{ creator.name }}
    {% endfor %}

    <a href="{% unless include.internal_link %}/projects/{{ include.year }}{% endunless %}#{{ pj.id }}">
      {{ pj.title }}    </a>
  </li>
  {% endfor %}
</ul>
