<div class="project" id="{{ pj.id }}">
  <h3 class="project-title no-link-decoration"><a href='#{{ pj.id }}'>{{ pj.title }}</a></h3>

  {% if pj.creator_ids %}
  <!-- Show no credits, including mentor, unless create_ids assigned. -->
  <p class="project-name">
    {% for creator_id in pj.creator_ids %}
      {% include creator.html is_simple=true %}
    {% endfor %}

    <small>{% include link-to-mentor.html id=pj.mentor_id mode="verbose" %}</small>
  </p>
  {% endif %}

  {% if pj.thumbnail %}
  <!-- Show thumbnail image if already set. -->
  <a href="/projects/{{ pj.year }}/{{ pj.id }}">
    <img src="/assets/img/spinner.svg" data-src="/assets/img/thumbnails/{{ pj.year }}/{{ pj.thumbnail }}"
         alt="{{ pj.title }}" class="project-thumbnail lazyload" loading="lazy" />
  </a>
  {% else %}
  <!-- Show TBD thumbnail image if not ready yet. -->
  <a href="/projects/{{ pj.year }}/{{ pj.id }}">
    <img src="/assets/img/spinner.svg" data-src="/assets/img/thumbnails/tbu.png"
         alt="{{ pj.title }}" class="project-thumbnail lazyload" loading="lazy" />
  </a>
  {% endif %}

  <h4>概要</h4>
  <p class="project-description">{{ pj.description }}</p>

  {% if pj.comment %}
  <h4>PMコメント</h4>
  <p class="project-comment">{{ pj.comment }}</p>
  {% endif %}

  <a href="/projects/{{ pj.year }}/{{ pj.id }}" class="button">詳細を見る</a>
</div>
