{% include project-navigation.html this_year=include.year %}
{% assign this_stat  = site.data.stats  | find: 'year', include.year %}
{% assign this_final = site.data.finals | find: 'year', include.year %}

<h2 style="margin-top: 0px;">{{ include.year }}年度の採択者と成果</h2>
<p>{{ page.description }}(採択倍率: <a href='/stats'>{{ this_stat.competition_rate }}倍</a>)</p>

{% if this_final %}
<div class='youtube' style='margin-top: 30px;'>
  <iframe src="https://www.youtube.com/embed/{{ this_final.start }}?list={{ this_final.playlist }}&rel=0" title="{{ include.year }}年度 未踏ジュニア成果報告会" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class='flex'>
  <a href="https://youtube.com/playlist?list={{ this_final.playlist }}" class="button">YouTube で見る</a>
  {% if this_final.reaction %}<a href="{{ this_final.reaction }}" class="button">当日の反響を見る</a>{% endif %}
</div>
{% else %}
<div class='flex'>
  <a href='/final' class='button'>成果報告会を見る</a>
</div>
{% endif %}

<br>

{% include project-list.html year=include.year %}

<br>

<div class="projects flex">
  {% for pj in projects %}
    {% include project-details.html %}
  {% endfor %}
</div>

{% include project-navigation.html this_year=include.year %}
{% include back-to-top.html %}
