{% assign projects = site.data.projects | where_exp: "pj", "pj.year == include.year" %}
<a href="/projects/{{ include.year }}"><h3>{{ include.year }}年度</h3></a>
<ul class="project-list">
  {% for pj in projects %}
  <li>
    {% for creator_id in pj.creator_ids %}
      {% assign creator = site.data.creators | where: "id", creator_id | first %}
      {% if creator.sp_creator %}
        {% if forloop.index > 1 %} / {% endif %}
        <span>☆ </span>
      {% elsif forloop.index == 1 %}
        <span>　</span>
      {% elsif forloop.index > 1 %}
        <span>/</span>
      {% endif %}

      {{ creator.name }}
    {% endfor %}

    <a href="/projects/{{ include.year }}#{{ pj.id }}">
      {{ pj.title }}
    </a>
  </li>
  {% endfor %}
</ul>
