<div class="project" id="{{ pj.id }}">
  <h3 class="project-title">{{ pj.title }}</h3>

  {% if pj.creator_ids %}
  <p class="project-name">
    {% for creator_id in pj.creator_ids %}
      {% include creator.html is_simple=true %}
    {% endfor %}

    - {% include link-to-mentor.html id=pj.mentor_id %}
  </p>
  {% endif %}

  {% if pj.youtube %}
    {% if include.thumbnail == true %}
    <a href="https://www.youtube.com/watch?v={{ pj.youtube }}">
      <img src="/assets/img/spinner.svg" data-src="/assets/img/thumbnails/{{ pj.year }}/{{ pj.thumbnail }}"
       alt="{{ pj.title }}" class="project-thumbnail lazyload" />
    </a>
    {% else %}
    <div class="youtube">
      <iframe width="560" height="315" class="lazyload" data-src="https://www.youtube.com/embed/{{ pj.youtube }}?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    {% endif %}

  {% else %}
    
    {% if pj.thumbnail %}
    <img src="/assets/img/spinner.svg" data-src="/assets/img/thumbnails/{{ pj.year }}/{{ pj.thumbnail }}"
    alt="{{ pj.title }}" class="project-thumbnail lazyload" />
    {% endif %}

  {% endif %}

  <h4>概要</h4>
  <p class="project-description">{{ pj.description }}</p>

  {% if pj.comment %}
  <h4>{% include link-to-mentor.html id=pj.mentor_id %}コメント</h4>
  <p class="project-comment">{{ pj.comment }}</p>
  {% endif %}

  {% if include.thumbnail == true %}
  <a href="https://www.youtube.com/watch?v={{ pj.youtube }}" target="_blank" class="button">発表動画を見る</a>
  {% endif %}

  {% if pj.link %}
  <a href="{{ pj.link }}" target="_blank" class="button">詳細を見る</a>
  {% endif %}
</div>
