{% assign latest_pj   = site.data.projects | first %}
{% assign latest_year = latest_pj.year %}

<ul style="list-style: none; text-align: center; padding: 30px 0px;">
  <li style="display: inline-block; margin: auto 10px;">
    <a href="/projects">採択プロジェクト目次</a>
  </li>
  <br>
  {% for year in (2016..latest_year) reversed %}
    {% if year == include.this_year %}
    <li style="display: inline-block; margin: auto 10px;">
      <b>» {{ year }}</b>
    </li>
    {% else %}
    <li style="display: inline-block; margin: auto 10px;">
      <a href="/projects/{{ year }}">{{ year }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
