{% assign projects = site.data.projects | where_exp: "pj", "pj.year == include.year" %}
<a href="/projects/{{ include.year }}"><h3>{{ include.year }}年度</h3></a>
<ul class="project-list">
  {% for pj in projects %}
  <li>
    {% if pj.sp-creator %}
    <span>☆ </span>
    {% else %}
    <span>　 </span>
    {% endif %}
    <a href="/projects/{{ include.year }}#{{ pj.id }}">
      {{ pj.name  }}
      {{ pj.title }}
    </a>
  </li>
  {% endfor %}
</ul>
<a href="/projects/{{ include.year }}" class="button">{{ include.year }}年度の詳細を見る</a>
