<section id="sponsor-logos">
  <div class='flex'>
    {% for sponsor in site.data.sponsors %}
    <a href="{{ sponsor.link }}" target="_blank">
      {% if sponsor.type == 'platinum' %}
      <img src="/assets/img/sponsors/{{ sponsor.img }}" alt="{{ sponsor.name }}" class="sponsor-logo-platinum" loading="lazy">
      {% elsif sponsor.type == 'gold' %}
      <img src="/assets/img/sponsors/{{ sponsor.img }}" alt="{{ sponsor.name }}" class="sponsor-logo-gold" loading="lazy">
      {% endif %}
    </a>
    {% endfor %}
  </div>

  <p>未踏ジュニアは<a href='#sponsors'>スポンサー</a>からの支援によって運営されています。</p>
</section>
