<!-- 以下スポンサー様一覧のHTMLです。
  HTMLは/_includes/sponsors.htmlを、スポンサー情報は/_data/sponsors.ymlを参照してください。 -->

{% assign lang = page.lang | default: "ja" %}

<section id="sponsors">

  <h2 class="heading-line">{{ site.data.translations.sponsorHeading[lang] }}</h2>

  <h3>{{ site.data.translations.sponsorGold[lang] }}</h3>
  <div class="sponsors-list-gold">
    {% for sponsor in site.data.sponsors.gold %}
    <a href="{{sponsor.url}}" target="_blank">
      <div class="sponsor-gold sponsor-one">
        <img src="/assets/img/sponsors/{{sponsor.img}}" alt="{{sponsor.name}}" class="sponsor-img">
      </div>
    </a>
    {% endfor %}
  </div>

  <h3>{{ site.data.translations.sponsorSilver[lang] }}</h3>
  <div class="sponsors-list-silver">
    {% for sponsor in site.data.sponsors.silver %}
    <a href="{{sponsor.url}}" target="_blank">
      <div class="sponsor-silver sponsor-one">
        <img src="/assets/img/sponsors/{{sponsor.img}}" alt="{{sponsor.name}}" class="sponsor-img">
      </div>
    </a>
    {% endfor %}
  </div>

  <h3>{{ site.data.translations.sponsorBronze[lang] }}</h3>
  <div class="sponsors-list-bronze">
    {% for sponsor in site.data.sponsors.bronze %}
    <a href="{{sponsor.url}}" target="_blank">
      <div class="sponsor-bronze sponsor-one">
        <img src="/assets/img/sponsors/{{sponsor.img}}" alt="{{sponsor.name}}" class="sponsor-img">
      </div>
    </a>
    {% endfor %}
  </div>

  <h3>{{ site.data.translations.sponsorInkind[lang] }}</h3>
  <div class="sponsors-list-eq">
    {% for sponsor in site.data.sponsors.equipment %}
    <a href="{{sponsor.url}}" class="sponsor-eq sponsor-one" target="_blank">
      <img src="/assets/img/sponsors/{{sponsor.img}}" alt="{{sponsor.name}}" class="sponsor-img">
    </a>
    {% endfor %}
  </div>

  <h3>{{ site.data.translations.sponsorMedia[lang] }}</h3>
  <div class="sponsors-list-media">
    {% for sponsor in site.data.sponsors.media %}
    <a href="{{sponsor.url}}" class="sponsor-media sponsor-one" target="_blank">
      <img src="/assets/img/sponsors/{{sponsor.img}}" alt="{{sponsor.name}}" class="sponsor-img">
    </a>
    {% endfor %}
  </div>

  <div class="sponsors-text-for-inquiry">
    {{ site.data.translations.sponsorText[lang] }}
  </div>

</section>

