{% assign lang = page.lang | default: "ja" %}
{% assign supporters = site.data.sponsors | where: "type", "supporter" %}

<section id="supporters">
  <h2>
    <a href='#supporters'><i class="fa-light fa-badge-check"></i></a>
    {{ site.data.translations.supporterHeading[lang] }}
  </h2>
  <div class="sponsors-list-supporter">
    {% for supporter in supporters %}
    {% if lang == 'ja' or supporter.link_en == nil %}
    <a href="{{ supporter.link    }}">{% else %}
    <a href="{{ supporter.link_en }}">{% endif %}
      <div class="sponsor-supporter sponsor-one">
	<img src="/assets/img/spinner.svg" data-src="/assets/img/sponsors/{{ supporter.img }}"
             alt="{{ supporter.name }}" class="sponsor-img lazyload">
      </div>
    </a>
    {% endfor %}
  </div>
</section>
