{% assign lang = page.lang | default: "ja" %}

<section id="supporters">
  <h2>{{ site.data.translations.supporterHeading[lang] }}</h2>
  <div class="sponsors-list-supporter">
    <a href="https://www.mext.go.jp/" target="_blank">
      <div class="sponsor-supporter sponsor-one">
        <img src="/assets/img/spinner.svg" data-src="/assets/img/sponsors/mext.png" alt="文部科学省" class="sponsor-img lazyload">
      </div>
    </a>
    <a href="https://www.meti.go.jp/" class="sponsor-supporter sponsor-one" target="_blank">
      <div class="sponsor-supporter sponsor-one">
        <img src="/assets/img/spinner.svg" data-src="/assets/img/sponsors/meti.png" alt="経済産業省" class="sponsor-img lazyload">
      </div>
    </a>
  </div>
</section>
