<iframe
 width="100%" frameborder="0" referrerpolicy="strict-origin-when-cross-origin"

 {% if include.id %}
   src="https://www.youtube.com/embed/{{ include.id }}?rel=0{% if include.list %}&list={{ include.list }}{% endif %}{% if include.start %}&start={{ include.start }}{% endif %}&hl={{ lang }}"
 {% else %}
   src="https://www.youtube.com/embed/videoseries?rel=0{% if include.list %}&list={{ include.list }}{% endif %}{% if include.start %}&start={{ include.start }}{% endif %}&hl={{ lang }}"
 {% endif %}

 {% if include.title %}
   {% if include.year %}
     title="{{ include.year }}年度 {{ include.title}}"
   {% else  %}
     title="{{ include.title}}"
   {% endif %}
 {% endif %}

 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
 allowfullscreen></iframe>

