<iframe
 width="100%" frameborder="0" referrerpolicy="strict-origin-when-cross-origin"

 {% if include.list %}
   {% if include.id %}
     src="https://www.youtube.com/embed/{{ include.id }}?rel=0&list={{ include.list }}{% if include.start %}&start={{ include.start }}{% endif %}"
   {% else %}
     src="https://www.youtube.com/embed/videoseries?list={{ include.list }}&rel=0{% if include.start %}&start={{ include.start }}{% endif %}"
   {% endif %}
 {% endif %}

 {% if include.title %}
   {% if include.year %}
     title="{{ include.year }}年度 {{ include.title}}"
   {% else  %}
     title="{{ include.title}}"
   {% endif %}
 {% endif %}

 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
 allowfullscreen></iframe>

