---
---
$main-color: rgb(40, 161, 58);
$text-green: rgb(14, 110, 52);
$shadow-color: rgba($main-color,0.3);
$lightgray: #eff2f6;
$phone-width: 800px;
$header-phone: 950px;
* {
  box-sizing: border-box;
  color: #333;
  line-height: 1.8em;
}

a{
  color: $text-green;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

li {
  margin: 0.4em auto;
}

body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
section{
  &::after{
    content: '';
    clear:both;
    display: block;
  }
}

.cover-photo {
  background-color: $lightgray;
}
.ph{
  display: none;
  @media screen and (max-width:$header-phone) {
    display: block;
  }
}
.pc{
  display: block;
  @media screen and (max-width:$header-phone) {
    display: none;
  }
}

header{
  background-color: #fff;
  //border-bottom: solid 4px $main-color;
  box-shadow: 0 0 16px 1px $shadow-color;
  height: 80px;
  @media screen and (max-width:$header-phone) {
    height: 60px;
  }
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  a{
    color: $text-green;
    text-decoration: none;
    font-weight: 600;
  }
}
.header-button{
  background-color: $main-color;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  margin-right: 24px;
  padding: 12px 36px;
}
.header-left{
  @media screen and (min-width:$header-phone) {
    margin: 24px;
  }
  a{
    padding-right: 12px;
  }
}
.header-logo{
  float: left;
  vertical-align: top;
  height: 100%;
  img{
    height: 100%;
    padding: 16px;
  }
}
.header-back{
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  height: 100vh;
}
#nav-check:checked ~ .topnav{
  display: block;
}
#nav-check:checked ~ .header-back{
  display: block;
}
.nav-hamburger{
  font-size: 24px;
  margin-right: 24px;
  text-align: right;
  height: 60px;
  line-height: 60px;
  i{
    color: $main-color;
  }
}
.topnav{
  @media screen and (min-width:$header-phone) {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:$header-phone) {
  .topnav{
    background-color: #fff;
    a{
      display: block;
      text-align: center;
    }
  }
  .header-button{
    border-radius: 0;
    margin:0;
  }
  .header-left{
    a{
      padding: 0;
      margin-bottom: 12px;
    }
  }
}


.button{
  color: #fff;
  background-color: $main-color;
  border: solid $main-color 4px;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  margin: 50px auto;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  width: 30%;
  min-width: 240px;
  &:hover{
    background-color: #fff;
    color: $main-color;
    transition: .3s;
  }
  &::before{
    content: '» ';
  }
}
.button-white{
  background-color: #fff;
  color: $main-color;
  border: solid #fff 4px;
  &:hover{
    background-color: $main-color;
    color: #fff;
  }
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
footer{
  background-color: $lightgray;
  text-align: center;
  margin-top: 100px;
  padding: 40px 0;
  a {
    padding: 5px 15px;    
    display: inline-block;
  }
  .sns {
    padding: 20px 4px;
    a {
      margin: 0 10px;
    }
    i {
      font-size: 34px;
    }
  }
  .copyright {
    font-size: 12px;
    color: #666666;
  }
}
.green{
  color: $main-color;
}
.heading-balloon{
  background-color: $lightgray;
  border-radius: 4px;
  display:inline-block;
  padding: 12px 24px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  &::before{
    border-radius: 4px;
    background-color: $lightgray;
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(100% - 30px);
    left: calc(50% - 20px);
    transform: rotateZ(45deg);
    z-index: -10;
  }
}
.heading-line{
  display: inline-block;
  position: relative;
  &::before, &::after{
    content: '';
    background-color: $main-color;
    display: block;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 3px;
  }
  &::before{
    margin-left: calc( -36px - 8px);
  }
  &::after{
    margin-left: calc(100% + 8px);
  }
}
.list-none{
  list-style: none;
  text-align: left;
  padding: 0;
}
.main{
  margin-top: 80px;
  @media screen and (max-width:$header-phone) {
    margin-top: 60px;
  }
  text-align: center;
  section{
    width: 100%;
    padding: 24px 12vw;
    @media screen and (max-width:$phone-width) {
      padding: 24px 2vw;
    }
  }
}
.media-date{
  margin-right: 12px;
}
.media-list{
  li{
    padding: 4px 0;
  }
}
.pm{
  padding: 12px;
  margin-top: 18px;
  width: 50%;
  p{
    font-size: 14px;
  }
}
.pm-sns{
  font-size: 36px;
}
.pm-name{
  border-left: 0 !important;
  background-color: #fff !important;
  padding: 0 !important;
  margin-top: 0 !important;
}
.pm-img{
  width: 40%;
  float: left;
  padding-right: 24px;
}
.pm-info{
  float: left;
  width: 60%;
}
.pm-comment{
  clear: both;
}
.pm-list{
  margin: 36px 0;
  justify-content: center;
}
.pm-list-one{
  width: 16.6%;
  padding: 14px;
  @media screen and (max-width:$header-phone) {
    padding: 4px;
  }
  img{
    width: 100%;
  }
}
.pm-list-name{
  font-size: 20px;
  margin: 6px 0;
}
.pm-list-af{
  font-size: 12px;
  margin: 4px 0;
}

@media screen and (max-width:$phone-width) {
  .pm{
    width: 100%;
    text-align: center;
  }
  .pm-img{
    width: 50%;
    float: none;
    padding: 0;
  }
  .pm-info{
    float: none;
    width: 100%;
  }
}
.sv-img{
  width: 100%;
}

.post{
  text-align: left;
  margin: auto;
  max-width: 800px;
  width: 80vw;
  h2{
    text-align: center;
    border-top: solid 2px $main-color;
    border-bottom: solid 2px $main-color;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba($main-color, 0.1) 4px, rgba($main-color, 0.1) 10px );
    margin: 4em 0 1em;
    &::before{
      content: '';
      clear: both;
      display: block;
    }
  }
  h3{
    border-left: solid 6px $main-color;
    background-color: rgba($main-color, 0.05);
    margin-top: 2.4em;
    padding: 8px;
  }
}

.tips{
  border: dotted 4px $main-color;
  border-radius: 8px;
  padding: 16px;
  &::before{
    border-right: solid 4px $main-color;
    content: '\f0eb';
    color: $main-color;
    font-family: "FontAwesome";
    font-size: 24px;
    height: 100%;
    padding-right: 16px;
    margin-right: 12px;
  }
}
.top-img{
  width: 100%;
}
.page-head{
  background-color: $main-color;
  padding: 10vh 2vw;
  h1{
    color: #fff;
  }
}
.project{
  //border-bottom: solid 1px $lightgray;
  background-color: #fff;
  box-shadow: 0 0 6px 1px $shadow-color;
  border-radius: 8px;
  margin: 8px;
  padding: 24px;
  text-align: left;
  width: calc(50% - 16px);
  h4{
    font-size: .8em;
    margin: .1em;
  }
  p{
    margin-top: .1em;
  }
  @media screen and (max-width:$phone-width) {
    padding: 2vw;
    width: calc(100% - 16px);
  }
}
.project-title{
  margin: 0 !important;
  background-color: #fff !important;
  border-left: none !important;
}
.qanda-a{
  height: 0;
  opacity: 0;
  transition: .3s;
  font-size: 0;
}
.qanda-one{
  text-align: left;
  margin-bottom: 4px;
  input{
    display: none;
  }
  input:checked ~ .qanda-a{
    height: auto;
    opacity: 1;
    padding: 10px 0;
    font-size: 1em;
  }
  label{
    background-color: #fff;
    border-radius: 4px;
    display: block;
    padding: 12px;
    transition: .3s;

    &:hover{
      font-weight: bold;
      transition: .3s;
      cursor: pointer;
      text-decoration: underline;
    }

  }
  p{
    margin: 4px;
  }
}
.results-radio, .results-pjs{
  display: none;
}
.results-radio:checked + .results-pjs{
  display: block;
}
.service-one{
  padding: 12px;
  width: 25%;
  @media screen and (max-width:$phone-width) {
    width: 100%;
  }
  h3{
    text-align: center;
  }
  i{
    font-size: 48px;
  }
}

#sponsors{
  h3 { margin-bottom: 1.7em; }
}
.sponsor-one{
  margin: auto;
}
.sponsor-img{
  width: 100%;
}
.sponsors-list-eq, .sponsors-list-media, .sponsors-list-clb{
  display: flex;
  flex-wrap: wrap;
  max-width: 555px;
  margin: auto;
}
.sponsors-list-eq{
  max-width: 555px;
  align-items: center;
}
.sponsors-list-media{
  max-width: 370px;
}

.sponsor-gold{
  max-width: 300px;
}
.sponsor-silver, .sponsor-supporter{
  max-width: 200px;
}
.sponsor-bronze{
  max-width: 175px;
}
.sponsor-eq, .sponsor-media, .sponsor-clb{
  margin: 10px;
  max-width: 165px;
  width: calc(50% - 20px);
}

.sv-right{
  float: left;
  width: 50%;
  padding: 12px;
}
.sv-left{
  float: left;
  width: calc(50% - 2px);
  padding: 12px;
}
.subtitle{
  margin: 10px 0;
  font-weight: bold;
}
.s-title{
  font-size: 125%;
  margin: 20px 0;
}
.text-left{
  text-align: left;
}
.youtube iframe{
  width: 100%;
}
.w-half{
  width: 50%;
}


#about{
  background-color: $lightgray;
}
#faq, #collaborator,#results{
  background-color: $lightgray;
}
.lets-apply{
  background-color: $lightgray;
}
