---
---
$main-color: rgb(40, 161, 58);
$text-green: rgb(14, 110, 52);
$lightgray: #e1e8f0;
$phone-width: 1180px;
* {
  box-sizing: border-box;
  color: #333;
  line-height: 1.8em;
}

a{
  color: $text-green;
}

body{
  margin: 0;

}
h2{
  margin-top: 2em;
}
section{
  &::after{
    content: '';
    clear:both;
    display: block;
  }
}

.ph{
  display: none;
  @media screen and (max-width:$phone-width) {
    display: block;
  }
}
.pc{
  display: block;
  @media screen and (max-width:$phone-width) {
    display: none;
  }
}

header{
  background-color: $main-color;
  height: 80px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  a{
    color: #fff;
    text-decoration: none;
  }
}
.header-button{
  background-color: #fff;
  border-radius: 4px;
  color: $text-green;
  margin: auto;
  margin-right: 24px;
  padding: 12px 36px;
}
.header-left{
  @media screen and (min-width:$phone-width) {
    margin: 24px;
  }
  a{
    padding-right: 12px;
  }
}
#nav-check:checked + .topnav{
  display: block;
}
.nav-hamburger{
  font-size: 24px;
  margin-left: 24px;
  height: 80px;
  line-height: 80px;
  i{
    color: #fff;
  }
}
@media screen and (max-width:$phone-width) {
  .topnav{
    background-color: $main-color;
    a{
      display: block;
      text-align: center;
    }
  }
  .header-button{
    border-radius: 0;
    margin:0;
  }
  .header-left{
    a{
      padding: 0;
      margin-bottom: 12px;
    }
  }
}


.button{
  background-color: $main-color;
  color: #fff;
  border-radius: 2em;
  display: block;
  margin: auto;
  padding: 12px;
  text-decoration: none;
  width: 30%;
  min-width: 280px;
}
.flex{
  @media screen and (min-width:$phone-width) {
      display: flex;
      flex-wrap: wrap;
  }
}
footer{
  background-color: $lightgray;
  text-align: center;
  padding: 24px 0;
}
.green{
  color: $main-color;
}
.main{
  margin-top: 80px;
  text-align: center;
  section{
    width: 100%;
    padding: 24px 12vw;
  }
}

.pm{
  padding: 12px;
  width: 50%;
  img{
    width: 100%;
  }
  & > div{
    float: left;
    padding-right: 12px;
  }
}
.pm-left{
  width: 30%;
  p{
    font-size: 14px;
  }
}
.pm-right{
  margin: 0;
  width: 70%;
}
.pm-sns{
  font-size: 36px;
}

.post{
  text-align: left;
  margin: auto;
  max-width: 1000px;
  width: 80vw;
}
.project{
  padding: 24px;
  text-align: left;
  width: 50%;
}
.qanda-a{
  height: 0;
  opacity: 0;
  transition: .3s;
}
.qanda-one{
  text-align: left;
  input{
    display: none;
  }
  input:checked ~ .qanda-a{
    height: auto;
    opacity: 1;
    padding: 10px 0;
  }
  label{
    background-color: #fff;
    border-radius: 4px;
    display: block;
    padding: 12px;
  }
  p{
    margin: 4px;
  }
}
.results-radio, .results-pjs{
  display: none;
}
.results-radio:checked + .results-pjs{
  display: block;
}
.service{
  display: flex;
}
.service-one{
  padding: 12px;
  width: 25%;
  h3{
    text-align: center;
  }
  i{
    font-size: 48px;
  }
}

.sponsor-one{
  margin: auto;
}
.sponsor-img{
  width: 100%;
}
.sponsors-list-eq, .sponsors-list-media{
  display: flex;
  flex-wrap: wrap;
  max-width: 555px;
  margin: auto;
}
.sponsors-list-eq{
  max-width: 555px;
}
.sponsors-list-media{
  max-width: 370px;
}

.sponsor-gold{
  width: 300px;
}
.sponsor-silver{
  width: 200px;
}
.sponsor-bronze{
  width: 175px;
}
.sponsor-eq, .sponsor-media{
  margin: 10px;
  width: 165px;
}

.sv-right{
  float: left;
  width: 50%;
}
.sv-left{
  float: left;
  width: calc(50% - 2px);
}
.subtitle{
  margin: 0;
  font-weight: bold;
}
.s-title{
  margin: 12px 0;
}
.text-left{
  text-align: left;
}
.youtube iframe{
  width: 100%;
}
.w-half{
  width: 50%;
}

#articles, #results{
  ul{
    list-style: none;
    padding: 0 12vw;
    text-align: left;
  }
}

#about{
  background-color: $lightgray;
}
#faq{
  background-color: $lightgray;
}
