---
---
$main-color: rgb(40, 161, 58);
$text-green: rgb(14, 110, 52);
* {
  box-sizing: border-box;
  line-height: 1.8em;
}

a{
  color: $text-green;
}

body{
  margin: 0;

}
h2{
  margin-top: 2em;
}

.button{
  background-color: $main-color;
  color: #fff;
  border-radius: 2em;
  display: block;
  margin: auto;
  padding: 12px;
  text-decoration: none;
  width: 20%;
}

.main{
  text-align: center;
  section{
    width: 100%;
    padding: 24px 12vw;
  }
}

.pm{
  padding: 12px;
  text-align: left;
  width: 50%;
  img{
    width: 100%;
  }
  & > div{
    float: left;
    padding-right: 12px;
  }
}
.pm-left{
  width: 30%;
  p{
    font-size: 14px;
  }
}
.pm-right{
  margin: 0;
  width: 70%;
}
.projects,.pms{
  display: flex;
  flex-wrap: wrap;
}
.project{
  padding: 24px;
  text-align: left;
  width: 50%;
  iframe{
    width: 100%;
  }
}
.qanda-a{
  height: 0;
  opacity: 0;
  transition: .3s;
}
.qanda-one{
  text-align: left;
  input{
    display: none;
  }
  input:checked ~ .qanda-a{
    height: auto;
    opacity: 1;
    padding: 10px 0;
  }
}
.results-radio, .results-pjs{
  display: none;
}
.results-radio:checked + .results-pjs{
  display: block;
}
.service{
  display: flex;
}
.service-one{
  padding: 12px;
  width: 25%;
  h3{
    text-align: center;
  }
}


#articles, #results{
  ul{
    list-style: none;
    padding: 0 12vw;
    text-align: left;
  }
}
