<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css" />
<meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <header>
      <a href="/">未踏ジュニア</a>
      <a href="#about">未踏ジュニアとは？</a>
      <a href="#articles">メディア掲載</a>
      <a href="">2019年度の成果</a>
      <a href="#project-manager">2019年度PM</a>
      <a href="#faq">よくある質問</a>
      <a href="">スポンサー</a>
      <a href="#contact">コンタクト</a>
    </header>
    {{content}}
  </body>
</html>
