{% include head.html %}

<body>
  {% include header.html %}

  <div class="main">
    <div class="cover-photo" style='background-color: white;'>
      <img src="/assets/img/2025_cover.min.webp" data-src="/assets/img/2025_cover.webp" alt="MITOU Junior Photo in 2025" class="top-img lazyload" loading="lazy">
      <!--<img src="/assets/img/2022_cover.min.webp" data-src="/assets/img/2022_cover.webp" alt="MITOU Junior Photo in 2019" class="top-img lazyload" style="margin-bottom: -50px;">-->
    </div>

    <div class="post">
      {{ content }}
    </div>

    {% include sponsors.html %}
    {% include collaborators.html %}
    {% include supporters.html %}

    {% include faq.html %}
    {% include contact.html %}
  </div>

  {% include footer.html %}
</body>

</html>
