{% include head.html %}

<body>
  {% include header.html %}
  <div class="main">
    {{ content }}
  </div>

  {% include footer.html %}
</body>

</html>

<script type="text/javascript">
  function getBrowserLanguage() {
    try {
      return (navigator.browserLanguage || navigator.language || navigator.userLanguage).substr(0,2)
    }
    catch(e) {
      return undefined;
    }
  }

  // Redirect to the given redirect_to URL. If failed, redirect to the landing page upon browser language.
  if ("{{ page.redirect_to }}" != ""){
    window.location.replace("{{ page.redirect_to }}" + window.location.hash + window.location.search);
  }
  else if (getBrowserLanguage().indexOf("ja") != -1) {
    window.location.replace("/");
  }
  else {
    window.location.replace("/english");
  }
</script>
